# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos Virtuales
.venv/
venv/
env/

# SECRETOS 
.env

# IDEs
.vscode/
.idea/

# Aunque uses MySQL/Postgres en la nube, 
# dejamos esto por si generas archivos locales por error
*.db
*.sqlite3